* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.child {
  margin: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100wv;
}

#main-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    
}

.card {
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.title {
    font-size: 100px;
}

.description {
    margin-top: 40px;
    width: 700px;
}
