@media (min-width: 1200px) {
    .container {
        width: 800px;
    }
}

.child {
    height: 120px;
    width: 120px;
    background-color: red;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 13px;
}

#childBattery {
    height: 200px;
    width: 10%;
    background-color: red;
    transition: 2s;
}

#childBattery2 {
    height: 200px;
    width: 10%;
    background-color: red;
    transition: 2s;
}

.parent {
    border: 3px solid black;
    padding: 20px;
    margin-bottom: 40px;
}

.en21Color {
    padding: 50px;
}

.en21Color2 {
    padding: 100px;
}
