body {
    background: lightgrey;
}

.container {
    width: 1200px;
    margin: auto;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: green;
    box-sizing: border-box;
}

header img {
    height: 50px;
}

header li {
    display: inline;
    padding-left: 30px;
}

header a {
    color: white;
    text-decoration: none;
}

section {
    display: flex;
    background: white;
}

button {
    float: right;
}

.left, .right {
    padding: 20px;
}

.right img {
    height: 150px;
    float: left;
    margin: 10px;
}

button {
    color: white;
    background: green;
    height: 30px;
}
